@model CoreShoppingAdminPortal.Models.ProductCategory

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>

<h2> Add Productcategory</h2>
&nbsp; &nbsp;
<form asp-action="create" asp-controller="ProductCategory">
    <div class="form-group row">
        <label for="text" class="col-sm-2 col-form-label" asp-for="CategoryName">Category Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Text" asp-for="CategoryName" />
        </div>
            <br />
            <label for="text" class="col-sm-2 col-form-label" asp-for="CategoryDescription">Category Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Text" asp-for="CategoryDescription" />
            </div>
                <br />
            </div>

            <center>
                <input type="submit" value="Submit" class="btn btn-success" />&nbsp;
                <button class="btn btn-success" asp-controller="ProductCategory" asp-action="Index">

                    Back
                </button>
            </center>
</form>


